
<header>
<div>
    <!-- Logo Section -->
    <div class="logo">
<img src="/src/gestao-projeto/assets/img/logo.svg" alt="Home">
        <h1>{{ title }}</h1>
    </div>

    <!-- Main Navigation -->
    

    <!-- Context Menu -->
    <div class="context-menu">
        <span>
            BANNERS E TAGS QUE ESTÃO EM MAIS QUE UMA PÁGINA
        </span>
    </div>

    <!-- Additional Navigation for Macro -->
    <nav>
        <ul>
            <li>
                <a >
                    <span><img src="../assets/img/pages.svg" alt="Macro"> Macro</span>
                    <img src="../assets/img/arrows.svg" alt="Seta">
                </a>
            </li>
        </ul>
    </nav>
</div>




  {% include "src/dev-assets/_layouts/uncode.njk" %}
</header>
